header{
  width:100vw;
  height:100vh;
  background: linear-gradient(90deg, rgba(66, 66, 66, 0.6), rgba(60, 60, 61, 0.9)) ,url(pic/top.JPG);
  background-repeat: no-repeat;
  background-size:cover;
  overflow: hidden;
}
.top-btn{
  width:100%;
  height:100px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  line-height: 100px;
  border-bottom:1px solid #fff;
}
.top-btn h1{
  font-size: 18px;
  color: #fff;
  padding-left: 50px;
  letter-spacing: 4px;
  font-family:'Hiragino Mincho Pro';
}
.top-btn-right{
  height:100px;
  display: flex;
  line-height: 100px;
}
.top-btn-right a{
  width:200px;
  color:#fff;
  text-align: center;
  border-left: 1px solid;
  border-color: #fff;
  letter-spacing: 1px;
  font-size: 15px;
  transition: 1s;
  font-family:'Hiragino Mincho Pro';
}
.top-btn-right a:hover{
  opacity: 0.6;
  background-color: #000;
}

.top-btm{
  width:100%;
  display: flex;
  justify-content: space-between;
}
.top-btm-left{
  display: flex;
  flex-direction: column;
}
.top-btm-right{
  width: 200px;
  height:100vh;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #fff;
  padding: 50px 0;
  position: relative;
}
.top-btm-left h1{
  font-size: 90px;
  color: #fff;
  padding: 50vh 0 0 50px;
  font-family: 'Courgette', cursive;
}
.title-top{
  display: flex;
  overflow: hidden;
  font-family: 'Courgette', cursive;
}
.title-top span {
  display: block;
  font-family: 'Courgette', cursive;
  transform: translate(0, 105%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.title-top.-visible span {
  transform: translate(0, 0);
}
.title-top span:nth-child(2) {
  transition-delay: 0.06s;
}
.title-top span:nth-child(3) {
  transition-delay: 0.12s;
}
.title-top span:nth-child(4) {
  transition-delay: 0.18s;
}
.title-top span:nth-child(5) {
  transition-delay: 0.24s;
}
.title-top span:nth-child(6) {
  transition-delay: 0.30s;
}
.title-top span:nth-child(7) {
  transition-delay: 0.36s;
}
.title-top span:nth-child(8) {
  transition-delay: 0.42s;
}
.title-top span:nth-child(9) {
  transition-delay: 0.48s;
}
.title-top span:nth-child(10) {
  transition-delay: 0.54s;
}
.title-top span:nth-child(11) {
  transition-delay: 0.6s;
}
.title-top span:nth-child(12) {
  transition-delay: 0.66s;
}
.title-top span:nth-child(13) {
  transition-delay: 0.72s;
}
.title-top span:nth-child(14) {
  transition-delay: 0.78s;
}
.title-top span:nth-child(15) {
  transition-delay: 0.84s;
}
.title-top span:nth-child(16) {
  transition-delay: 0.90s;
}
.title-top span:nth-child(17) {
  transition-delay: 0.96s;
}
.top-btm-left p{
  font-size: 20px;
  color: #fff;
  padding-left: 50px;
  font-family:'Hiragino Mincho Pro';
}
.top-btm-right a{
  width: 200px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  padding:30px 0;
  transition: 1s;
  font-family:'Hiragino Mincho Pro';
}
.top-btm-right a:hover{
  opacity: 0.6;
  background-color: #000;
}
.top-btm-right a:nth-child(3){
  padding-bottom: 80px;
  border-bottom: 1px solid #fff;
}
.scrolldown2{
  position:absolute;
  top:80vh;
  right:50%;
  left:50%;
}
.scrolldown2 span{
  position: absolute;
  top:80vh;
  right:50%;
  left:50%;
  color: #eee;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
.scrolldown2:before {
  content: "";
  position: absolute;
  bottom:0;
  left:-4px;
  width:10px;
  height:10px;
  border-radius: 50%;
  background:#eee;
  animation:
  circlemove 1.6s ease-in-out infinite,
  cirlemovehide 1.6s ease-out infinite;
}
@keyframes circlemove{
  0%{bottom:45px;}
  100%{bottom:-5px;}
}
@keyframes cirlemovehide{
  0%{opacity:0}
  50%{opacity:1;}
  80%{opacity:0.9;}
  100%{opacity:0;}
}
.scrolldown2:after{
  content:"";
  position: absolute;
  bottom:0;
  left:0;
  width:2px;
  height: 50px;
  background:#eee;
}